/* css reset  */
*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    font-family: 'Passion One', cursive;
    top: 0px;
    
    
}
#navbar:hover{
    background-color: rgb(197, 176, 172);
    opacity: 0.8;
    position: sticky;

}
#navbar::before{
    content: "";
    background-color: rgb(21, 27, 63);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}
/* Navigation bar: Logo and Image */
#logo{
    margin: 4px 7px;
}

#logo img{
    margin: 4px 2px;
    height: 50px;
}

/* Navigation bar: List styling  */
#navbar ul{
    display: flex;
    
}
#navbar ul li{

    list-style: none;
    font-size: 1.3rem;
    margin: 10px 10px;
}
#navbar ul li a{
   display: block;
   padding: 2px 1px;
   border-radius: 20px;
   text-decoration: none;
   color: white;
   
}
#navbar ul li a:hover{
   display: block;
   color: black;
   background-color: white;
  
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 200px ;
    color: white;
    height: 580px;
    
}
#home::before{
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    height: 660px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    top: 0px;
    left: 0px;
}
.h-primary{
    font-size: 2rem;
    border-radius: 9px;
    padding: 15px;
    background-color: rgb(205, 198, 211);
    font-family: 'Fjalla One', sans-serif;
}
.h-secondary{
    font-size: 1.6rem;
    border-radius: 9px;
    padding: 10px;
    background-color: rgb(212, 175, 177);
    font-family: 'Fjalla One', sans-serif;
}
#home h1{
    color: rgb(138, 14, 14);
    text-align: center;
}
#home h1:hover{
    background-color: rgb(207, 207, 111);
    text-align: center;
    opacity: 0.5;
    color: black;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
}
.btn{
    color: rgb(245, 238, 237);
    background-color: rgb(16, 31, 29);
    height: 40px;
    width: 120px;
    padding: 3px 10px;
    margin: 20px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
   
}
.btn:hover{
    color: rgb(18, 6, 61);
    background-color: rgb(250, 164, 161);
}
.center{
    text-align: center;
}
/* services center  */

#services{
    margin: 30px;
    display: flex;
    
}
.services-container{
    display: flex;
    
}
.services-container::before{
    content: "";
    position: absolute;
    background: url('../bg2.jpg')no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#services .box{
    margin: auto;
    border-radius: 10px;
    background-color: rgb(230, 235, 221);
    padding: 20px;
    height: 500px;
    
}
#services .box img{
    height: 200px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Fjalla One', sans-serif;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 120px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg') no-repeat center center/cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}
#client-section{
   
    position: relative;
}
.client-item{
    padding: 50px;
}

/* contact section  */
#contact{
    position: relative;
    /* padding: 20px; */
    height: 580px;
    

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
    

}
footer{
    background: black;
    color: white;
    opacity: 0.8;
    padding: 5px 5px;
    margin: 2px 2px;
    border-radius: 10px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    color: blue;
    border-radius: 5px;
    background-color: rgb(226, 241, 241);
    font-size: 1.1rem;
}
#contact-box{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box label {
    font-size: 1.2rem;
    font-family: 'Moon Dance', cursive;
}




    





